body{
    background: #CBE3E8;
}
h1{
    font-size: 60px;
    margin-top: 0.8em;
    text-align: center;
}
table,
th,
td{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 4px 6px;
}
ul{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* .brownie-image img {
    left: 45%;
    position: relative;
} */
.brownie-image{
    display: flex;
    justify-content: center;
}

.menu{
    background-color: #B7CCD1;
    border: 1px solid black;
    border-radius: 10px;
    display: inline-block;
    margin-bottom: 6px;
    margin-top: 6px;
    padding: 6px 30px 6px 20px;
}
.recipe{
    font-size: 30px;
}
.ingredient-list,
.step-container{
    display: flex;
    justify-content: center;
 }

#table{
    margin: auto;
}
